.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
}
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.Restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  background: lightgray;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.restaurantDetails{
  border: 1px solid black;
}

.restaurant{
  display:flex;
}

.restaurantMenu {
  margin:auto;
  padding: auto;
}

.restaurantMenu{
  list-style: none;
}